:root {
    --body-1-medium-font-family: "Poppins-Medium", Helvetica;
    --body-1-medium-font-size: 14px;
    --body-1-medium-font-style: normal;
    --body-1-medium-font-weight: 500;
    --body-1-medium-letter-spacing: 0px;
    --body-1-medium-line-height: 22px;
    --body-2-regular-font-family: "Poppins-Regular", Helvetica;
    --body-2-regular-font-size: 12px;
    --body-2-regular-font-style: normal;
    --body-2-regular-font-weight: 400;
    --body-2-regular-letter-spacing: 0px;
    --body-2-regular-line-height: 20px;
    --neutral-dark1: rgba(17, 17, 17, 1);
    --neutral-light3: rgba(203, 203, 203, 1);
    --paragraph-3-medium-font-family: "Poppins-Medium", Helvetica;
    --paragraph-3-medium-font-size: 16px;
    --paragraph-3-medium-font-style: normal;
    --paragraph-3-medium-font-weight: 500;
    --paragraph-3-medium-letter-spacing: 0px;
    --paragraph-3-medium-line-height: 24px;
  }

  .landing-page {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .landing-page .div {
    background-color: #f6f6f6;
    height: 90vh;
    position: relative;
    width: 100vw;
  }
  
  .landing-page .sidebar {
    background-color: #009bf3;
    height: 99vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 239px;
  }
  
  .landing-page .home {
    background-color: #f6f6f6;
    border-radius: 20px 0px 0px 20px;
    height: 52px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 125px;
    width: 238px;
  }
  
  .landing-page .img {
    height: 24px;
    left: 9px;
    position: absolute;
    top: 14px;
    width: 24px;
  }
  
  .landing-page .text-wrapper {
    color: #009cf4;
    font-family: var(--paragraph-3-medium-font-family);
    font-size: var(--paragraph-3-medium-font-size);
    font-style: var(--paragraph-3-medium-font-style);
    font-weight: var(--paragraph-3-medium-font-weight);
    left: 46px;
    letter-spacing: var(--paragraph-3-medium-letter-spacing);
    line-height: var(--paragraph-3-medium-line-height);
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 89px;
  }
  
  .landing-page .doctor {
    background-color: #009cf4;
    border-radius: 20px 0px 0px 20px;
    height: 52px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 177px;
    width: 238px;
  }
  
  .landing-page .room {
    background-color: #009cf4;
    border-radius: 20px 0px 0px 20px;
    height: 52px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 229px;
    width: 238px;
  }
  
  .landing-page .text-wrapper-2 {
    color: #f6f6f6;
    font-family: var(--paragraph-3-medium-font-family);
    font-size: var(--paragraph-3-medium-font-size);
    font-style: var(--paragraph-3-medium-font-style);
    font-weight: var(--paragraph-3-medium-font-weight);
    left: 46px;
    letter-spacing: var(--paragraph-3-medium-letter-spacing);
    line-height: var(--paragraph-3-medium-line-height);
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 89px;
  }
  
  .landing-page .calendar {
    background-color: #009cf4;
    border-radius: 20px 0px 0px 20px;
    height: 52px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 281px;
    width: 238px;
  }
  
  .landing-page .text-wrapper-3 {
    color: #f6f6f6;
    font-family: var(--paragraph-3-medium-font-family);
    font-size: var(--paragraph-3-medium-font-size);
    font-style: var(--paragraph-3-medium-font-style);
    font-weight: var(--paragraph-3-medium-font-weight);
    left: 46px;
    letter-spacing: var(--paragraph-3-medium-letter-spacing);
    line-height: var(--paragraph-3-medium-line-height);
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .landing-page .logo {
    height: 88px;
    left: 71px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 96px;
  }
  
  .landing-page .avatar {
    align-items: center;
    background-color: #f6f6f6;
    display: flex;
    gap: 56px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 239px;
  }
  
  .landing-page .group {
    height: 42px;
    position: relative;
    width: 91px;
  }
  
  .landing-page .vector {
    height: 32px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 32px;
  }
  
  .landing-page .info {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 40px;
    position: absolute;
    top: 0;
  }
  
  .landing-page .text-wrapper-4 {
    color: var(--neutral-dark1);
    font-family: var(--body-1-medium-font-family);
    font-size: var(--body-1-medium-font-size);
    font-style: var(--body-1-medium-font-style);
    font-weight: var(--body-1-medium-font-weight);
    letter-spacing: var(--body-1-medium-letter-spacing);
    line-height: var(--body-1-medium-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .landing-page .text-wrapper-5 {
    color: var(--neutral-light3);
    font-family: var(--body-2-regular-font-family);
    font-size: var(--body-2-regular-font-size);
    font-style: var(--body-2-regular-font-style);
    font-weight: var(--body-2-regular-font-weight);
    letter-spacing: var(--body-2-regular-letter-spacing);
    line-height: var(--body-2-regular-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .landing-page .group-2 {
    height: 24px;
    margin-right: -2px;
    position: relative;
    width: 94px;
  }
  
  .landing-page .logout {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .landing-page .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 62px;
  }
  
  .landing-page .frame-4 {
    height: 24px;
    left: 9px;
    position: absolute;
    top: 16px;
    width: 24px;
  }

  .landing-page .menu {
    height: 24px;
    left: 239px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .landing-page .cardbox {
    background-color: #ffffff;
    height: 432px;
    left: 279px;
    position: absolute;
    top: 125px;
    width: 1114px;
  }
  
  .landing-page .card1 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 291px;
    left: 34px;
    overflow: hidden;
    position: absolute;
    top: 83px;
    width: 310px;
  }
  
  .landing-page .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 24px;
    left: 68px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .landing-page .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    height: 42px;
    left: 76px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 211px;
    width: 152px;
  }
  
  .landing-page .img-2 {
    height: 100px;
    left: 105px;
    position: absolute;
    top: 85px;
    width: 100px;
  }
  
  .landing-page .card2 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 291px;
    left: 392px;
    overflow: hidden;
    position: absolute;
    top: 83px;
    width: 310px;
  }
  
  .landing-page .s-b-c-s-ang-tr-c {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 24px;
    left: 34px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .landing-page .text-wrapper-9 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    height: 24px;
    left: 121px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 220px;
    white-space: nowrap;
  }
  
  .landing-page .card3 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 291px;
    left: 750px;
    overflow: hidden;
    position: absolute;
    top: 83px;
    width: 310px;
  }
  
  .landing-page .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 24px;
    left: 71px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 25px;
    white-space: nowrap;
  }
  
  .landing-page .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    height: 24px;
    left: 94px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 221px;
    white-space: nowrap;
  }
  